.clients-list {
    display: inline-block;
    list-style: none;
    background-color: #282828;
    width: 400px;
}

.clients-list > li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 16px;
}
.clients-list>li:not(:last-child) {
    border-bottom: 1px solid #303030;
}

.clients-list__header {
    background-color: #FF5714;
}
.clients-list__header-specialist {
    text-transform: uppercase;
}
.clients-list__header-number {
    text-transform: uppercase;
    justify-self: end;
}

.clients-list__number {
    justify-self: end;
}